<h1>This is Home Login.cshtml Page</h1>

<form method="post">
    <input type="text" name="username" placeholder="Type Username" />
    <input type="password" name="password" placeholder="Type Password" />
    <button class="btn btn-primary">Login</button>
</form>